body{
    background-color: blue;
    font-size: 5vw;
}
a{
  color: white;
}
footer{ 
  background-color: black;
  color: aquamarine;
}
.aboutUs {
  text-align: center;
}
.gallery{
    display: flex;
    flex-direction: row;
    width: 100%;
  }
.tarjeta{
  padding: 2em;
  max-width: auto;
}

img{
    border-radius: 10%;
    max-width:100%;
    height:auto;
  }
  /* Dispositivos pequeños (teléfonos, 600px y menos) */
@media only screen and (max-width: 600px) {
  body{
    background-color: blue;
    font-size: 4vw;
  }
}
  /* Dispositivos medios (tablets horizontales, 768px y más) */
@media only screen and (min-width: 768px){
  body{
    background-color: blue;
    font-size: 4vw;
  }
}
/* Dispositivos largos (laptops/escritorio, 992px y más) */
@media only screen and (min-width: 992px) {
    body{
    background-color: blue;
    font-size: 2vw;
}}